- content_for :title, 'Demo Ember.js Application' 
.container
  .row
    .span6
      %script(type="text/x-handlebars")
        {{view App.ArticlesList}}
        {{#view Ember.View wordsBinding="App.WordsController" class="nav nav-pills" tagName="ul" }}
        {{#each words }}
        <li class='active'><a href='#'>{{ kanji }}</a></li>
        {{/each}}
        {{/view}}
      %script(type="text/x-handlebars")
        {{view App.SelectableChunks}}
        {{view App.SelectedChunkView textBinding="content" hiddenBinding="hidden"}}
        {{view App.ResultView}}
