- content_for :title, 'Demo Ember.js Application' 
%h2 Hello Again
%script(type="text/x-handlebars")
  {{view App.SelectableChunks}}
  {{view App.SelectedChunkView textBinding="content" hiddenBinding="hidden"}}
