- content_for :title, 'Demo Ember.js Application' 
.container-fluid
  .row
    .span1
      %script(type="text/x-handlebars")
        {{#view App.WordsView wordsBinding="App.WordsController" class="nav nav-pills" tagName="ul" }}
        {{#each words }}
        <li class='active'><a href='#' {{bindAttr id="id"}}>{{display}}</a></li>
        {{/each}}
        {{/view}}
    .span5
      %script(type="text/x-handlebars")
        {{view App.ResultView class="row"}}
        {{view App.ArticleView class="row"}}
    .span6
      %script(type="text/x-handlebars")
        {{view App.ArticlesList}}
